<h3>Sign Up New Participant</h3>

<div id="new_list_form">
	  	<% if @parent_name && @parent_card %>
	  		<h5>Parent Name: <%= @parent_name %></h5>
	  		<h5>Parent Card #: <%= @parent_card %></h5>
	  		<input type="hidden" id="parent_name" value="<%= @parent_name %>">
	  		<input type="hidden" id="parent_card" value="<%= @parent_card %>">
	  	<% else %>
	  		<div class="input-group padding-all">
	  			<label for="parent_name">Parent Name:</label>
	  			<input id="parent_name" type="text" class="form-control" placeholder="">
	  		</div>
	  		<div class="input-group padding-all">
	  			<label for="parent_card">Parent Card #:</label>
	  			<input id="parent_card" type="text" class="form-control" placeholder="">
			</div>
		<% end %>
	<div class="input-group padding-all">
	  <label for="kid_name">Participant Name:</label>
	  <input id="kid_name" type="text" class="form-control" placeholder="">
	</div>
	<div class="btn-group padding-all">
		<button type="button" class="btn btn-success" onclick="participant_list('false')">Save</button>
	</div>
	<div class="btn-group padding-all">
		<button type="button" class="btn btn-success" onclick="participant_list('true')">Save and Add Another</button>
	</div>
</div>
<div id="messages" class="padding-all">
</div>